:host(){
    --headerHeight : 5rem;
    --fontFamily1 : Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif
}

.mainDiv-userGuide{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}
.headerContainer{
    width: 100%;
    min-height: 4.5rem;
    border-bottom: 1px solid #06aeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0rem 2rem;
    background: #feffff;
}
.headerTitle{
    font-size: 36px;
    letter-spacing: 1px;
    font-family: var(--fontFamily1);
    font-weight: 500;
    color: #004d7a;
}
.headerLogo{
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.headerLogo img{
    max-height: 4rem;
}

.hyperLink{
    font-size: 18px;
    color: #004d7a !important;
    border-right: 1px solid #004d7a;
    padding-right: 1rem;
    width: max-content;
    font-weight: 700;
    transition: all 0.3s ease-out 0s;
    text-decoration: none !important;
}
.hyperLink div{
    white-space: pre;
}
.hyperLink:hover{  
    color: #06aeff !important;
}

.bodyContainer {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    user-select: text;
    background: #feffff;
    position: relative;
}
.guideCategories{
    padding-left: 1rem;
    display: flex;
    align-items: flex-start;
    background: #feffff;
    border-right: 1px solid #06aeff;
}
.left-section {
    white-space: pre;
    min-width: 30%;
    width: 20rem;
    max-width: max-content;
    overflow: scroll;
    scrollbar-color: #00AEFF white;
    scrollbar-width: thin;
    transition: all 0.5s;
    /* padding-inline: 1rem 0.5rem; */
    padding-block: 1rem;
    height: 100%;
}
.left-section[data-close=true]{
   width: 0rem;
   min-width: 0rem;
   padding-inline: 0rem;
}

.left-section h1 {
    font-size: 1rem;
    color: rgba(123, 126, 127, 1);
}
.guideType{
    overflow: hidden;
    height: max-content;
}

.guideTitle{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-block: 0.5rem;
    cursor: pointer;
}
.accordion-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}
.accordion-icon svg{
    width: 1.5rem;
    height: 1.5rem;
    transition: all linear 0.4s;
}
.guideType[data-opened=true] .accordion-icon svg{
    transform: rotate(90deg);
}
.tablist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 12px;
    padding-inline: 2rem 1rem;
    /* margin-bottom: 1rem; */
    overflow: hidden;
    --openedMaxHeight : 0rem;
    /* --openedMaxHeight : max-content; */
    max-height: var(--openedMaxHeight);
    transition: all linear 0.4s;

}
/* .guideType[data-opened=true] .tablist{
    max-height: var(--openedMaxHeight);
} */
.tabs {
    /* background-color: #fff; */
    min-height: 2.5rem;
    min-width: min(8rem, 80%);
    /* min-width: 10rem; */
    transition: all linear 0.25s;
    border: solid 1px #00AEFF;
    border-radius: 12px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-inline: 0.5rem;
    font-weight: bolder;
    cursor: pointer;
    color: rgba(123, 126, 127, 1);
}

.tabs:hover {
    box-shadow: 2px 2px 4px rgba(0, 174, 255, 0.33);
}

.tabs p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs[data-selected=true] {
    /* scale: 1.1; */
    color: black;
    background: linear-gradient(90deg, rgb(205,239,255), rgb(205,255,241));
    box-shadow: 2px 2px 4px rgba(0, 174, 255, 0.33);
}

.content .img{
    display: flex;
    padding: 16px 4px;
    /* justify-content: center; */
}

.content img{
    border: solid 1px black;
    border-radius: 4px;
    margin: 0.5rem;
    width: 600px;
    cursor: pointer;
}

.horizontal-line {
    /* background-color: #fff; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: solid black 1px; */
}

.top-line {
    border: solid #00AEFF 0.5px;
    width: 0;
    height: 100%;
}

.arrow {
    border: solid transparent 1px;
    background-color: #00AEFF;
    border-radius: 50%;
    margin: 1px;
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    top: 5rem;
}

.arrow:hover{
    background-color: #0072C6;
}

.arrow:active{
    background-color: #00528c;
}

.svg-arrow{
    transform: rotate(180deg);
}
.svg-arrow[data-close=true]{
    transform: rotate(0deg);
}

.bottom-line {
    border: solid #00AEFF 0.5px;
    width: 0;
    height: calc(90% - 24px);
}

.white-background{
    scroll-behavior: smooth;
    width: 100%;
    font-size: 16px;
    font-family: var(--fontFamily1);
    /* background-color: #fff; */
    scrollbar-color: #00AEFF white;
    overflow: scroll;
    outline: none;
    transition: all 0.5s;
    background: transparent url('/resource/MVWB__wbiTemplateBg') 0% 0% round padding-box;
}

.content p{
    width: fit-content;
}

.content{
    scroll-behavior: smooth;
    transition: all 0.5s;
    background-size: contain;
}

.tab-content {
    scroll-behavior: smooth;
    padding: 2rem;
    margin-block: 1rem;
    border: 1px solid #06aeff;
    border-radius: 6px;
    box-shadow: 0px 0px 13px -2px #00476940;
    transition: all 0.5s;
    max-width: 816px;
    min-height: 100%;
    margin-inline: auto;
    background: #fff;
}

/* .tab-content h1, h2, h3 {
    cursor: pointer;
} */

.tab-content h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 200%;
    font-weight: bolder;
}

.tab-content h1 span {
    font-size: 150%;
}

.tab-content h2 {
    font-size: large;
    font-weight: bold;
}

.tab-content h3 {
    padding-top: 16px;
    padding-bottom: 4px;
    font-size: medium;
    font-weight: bold;
}

.tab-content .note {
    color: rgb(245, 93, 93);
}

/* SLDS Override */
.slds-accordion__list-item:first-child {
    border-top: 0;
}

.slds-accordion__summary {
    border: var(--slds-c-accordion-summary-border);
    border-radius: var(--slds-c-accordion-summary-border-radius);
}

lightning-accordion-section {
    display: contents !important;
    border-radius: 5px !important;
    border: 1px solid grey !important;

}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.custom-modal-container {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    margin-block: 1rem;
    margin-inline: 1rem;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 103;
}

.custom-modal-content, .custom-modal-body, .img {
    width: fit-content;
}

.custom-modal-body .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-modal-body img {
    max-height: 70vh;
    border-radius: 6px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.backdrop {
    background: rgba(0, 0, 0, 0.6);
    z-index: 102;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

@media only screen and (max-width: 1120px){

    .guideCategories{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
        height: 100%;
        box-shadow: 2px 0px 10px -2px rgb(0 47 104 / 57%);
        font-size: 13px;
    }

}

@media only screen and (max-width: 880px){
    .headerTitle{
        font-size: 28px;
    }
    .tab-content{
        margin-block: 0rem;
        border: none;
        box-shadow: none;
        padding-inline: 3rem 1rem;
    }
}

@media only screen and (max-width: 600px){
    .headerContainer{
        padding-inline: 1rem;
        gap: 3rem;
    }
    .headerTitle{
        font-size : 22px;
    }
    .bodyContainer{
        scrollbar-width: none;
    }

}

@media only screen and (max-width: 400px){
    .headerTitle{
        font-weight: bold;
    }
    .headerLogo{
        flex-direction: column;
        gap: 0.25rem;
    }
    .hyperLink{
        border-right: none;
        padding-right: 0rem;
    }
}